@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    height: 100%;
    overflow-y: hidden;
    overflow-x:hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

header{
    padding: 20px 0;
    height: 200px;
}   

.cabecalho{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2;
}


.menu{
    width: 50%;
    text-align: right;
    padding-top: 20px;
}

.menu-logo{
    width: 50%;
}


.menu-logo img{
    width: 80px;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    position: relative;
}

.menu a:hover{
    text-decoration: underline;
}




.extras{
    border-radius: 100% 0% 0% 0%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 750px;
    height: 650px;
    background-color: #017143
}



.social-media{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 370px;
    padding: 10px;
    margin: 30px 0px;
}

.social-media > a > img{
    width: 50px;
    padding: 3px;


}


.texto-principal{
    width: 500px;
    margin-top: 80px;
}

.texto-principal h1{
    font-size: 2.5em;
}
.texto-principal p {
    font-weight: bold;
    margin-top: 15px;
    line-height: 25px;
}

.botao{
    background-color:#017143 ;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.301);
    padding-left: 30px;
    padding-right: 30px;
}

.final{
    display: flex;
    position: absolute;
    right: 50%;
    bottom: 10px;
    justify-content: center;
}





@media screen and (max-width:1024px){

    body{
        padding: 10px;
    }

    .extras{
        border-radius: 100% 0% 0% 0%;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 490px;
        height: 580px;
        background-color: #017143
    }


    .extras img{
        width: 310px;
    }
}


@media screen and (max-width:1440px){
    body{
        padding: 10px;
    }

    .extras{
        border-radius: 100% 0% 0% 0%;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 490px;
        height: 480px;
        background-color: #017143
    }


    .extras img{
        width: 260px;
    }

}
