@charset "UTF-8";


:root{
    --cor1:#2e384e;
    --cor2:#FFCB47;

}


body{
    background-color: var(--cor1);
    margin: 0 auto;
    padding: 30px;
    color: white;
    max-width: 1200px;
}


.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

.span-amarelo{
    color: var(--cor2);
}

.menu{
    display: inline-block
}


.menu > a {
    display: inline-block;
    margin: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.menu > a:hover{
    color: var(--cor2);
    text-decoration: underline;
    transition-duration: 0.5s;
}

#botao{
    border:var(--cor2) solid 0.5px;
    border-radius: 20px;
    padding: 15px;
}

#botao:hover{
    transition-duration: 0.5s;
    background-color: var(--cor2);
    color: var(--cor1);
}

.conteudo{
    display: flex;
    justify-content:center ;
    flex-direction: row;
    padding-top :100px ;
    padding-bottom: 120px;
}

aside > h2{
    flex-direction: column;
    line-height: 10px;
    font-size:56px;
}

aside > h2 > span{
    color: var(--cor2);
}

aside > p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
} 

form{
    display: flex;
    flex-direction: column;
}

form > input{
    font-size: 15px;
    height: 55px;
    width: 500px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

form [type="submit"]{
    height: 50px;
    width: 120px;
    color: var(--cor1);
    background-color: var(--cor2);
}

form [type="submit"]:hover{
    cursor: pointer;
}

footer{
    display: flex;
    margin: auto;
    border: var(--cor2) solid;
    width: 50%;
    border-radius: 4px;
}