@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

:root{
    --fonte-header:'Source Sans Pro', sans-serif;
    --font-padrao:Arial, Verdana, sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: var(--font-padrao);
    height: 100%;

    background-image: linear-gradient(to bottom, rgba(228, 228, 228, 0.815), #D8DEF0);
}


.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding-top: 10px ;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-right: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.192);
    
}

.cabecalho-logo{
    font-size: 1.5em;
    font-family: var(--fonte-header);
    border: 3px solid black;
    padding: 4px;
    font-weight: bolder;
    padding-right: 20px ;
    padding-left: 20px;
    
}

.menu{
    display: inline-block;
    
}

.menu-item{
    font-family: var(--fonte-header);
    font-weight: bold;
    font-size: 22px;
    color: #6a6d75;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

.menu-item:hover{
    text-decoration: underline;
}

.principal{
    min-height: 86vh;
}

.principal-logo{
    font-size: 3em;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.274);
}

.principal-paragrafo{
    font-size: 18px;
    color: #7b7e86;
    text-align:center;
    margin: auto;
    width: 700px;
    line-height: 2em; 
    padding-bottom: 30px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.274);
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.conteudo-principal-um{
    border-radius: 10px;
    background-color: #fff;
    width: 400px;
    height: 400px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.158);
    
}

.conteudo-principal-um > img{
    width: 400px;
    height: 200px;

}


.conteudo-principal-dois{
    background-repeat: no-repeat;
    background-size: 400px 200px;
    background-position: top center;
    border-radius: 10px;
    background-color: #fff;
    width: 400px;
    height: 400px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.158);

}

.conteudo-principal-dois > img{
    width: 400px;
    height: 200px;

}



.conteudo-principal-tres{
    border-radius: 10px;
    
    background-color: #fff;
    width: 400px;
    height: 400px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.158);

}

.conteudo-principal-tres > img{
    width: 400px;
    height: 200px;

}



.conteudo-cabecalho{
    font-size: 15px;
    text-align: left;
    padding: 20px 20px 10px ;
    color: rgb(250, 161, 27);
}

.conteudo-cabecalho-um{
    text-align: left;
    padding: 0px 20px 10px 20px ;
}

.conteudo-texto{
    color: #6a6d75;
    font-size: 15px;
    padding: 9px 20px 20px 20px;
}



.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.botao > input{
    font-weight: bolder;
    color: #fff;
    background-color: rgb(250, 161, 27);
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.219);
}

.botao > input:hover{
    cursor: pointer;
    text-decoration: underline;
}

.artigo{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: #fff;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.836));
    min-width:800px;
    max-height: 200px;
    min-height: 250px;
    padding: 20px;
    box-shadow: 2px 2px 2px black;
}



.artigo-principal-um{
    padding: 20px;

}

.artigo-principal-dois{
    padding: 20px;
}

.artigo-principal-tres{
    padding: 20px;

}



.cabecalho-artigo{
    font-weight: bolder;
    color:#d9dadf;
    border-bottom: 1px solid #d9dadf3a;
    padding: 10px;
    padding-bottom: 20px;
}

.texto-artigo{
    color: #d9dadf;
    text-align: center;
    padding-top: 20px;
}



.fim{
    background-color: black;
    padding: 2px;
}

.fim > p{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 8px;
}

.fim > p >a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    
} 


.fim > p > a:hover{
    text-decoration: underline;
}
